<div align="center">
  <div>
    <h1>ImageUpload :: Mypage</h1>
    <h3><%= @username %> さんのマイページ</h3>
    <hr>
    <p><%= @userbio %></p>
  </div>
  <div class="container-fluid" style="padding: 10px 20px 10px 20px">
    <%= link_to '一覧表示へ戻る', images_path, class: "btn btn-success btn-lg btn-block" %>
  </div>
  
  <div class="container-fluid" style="padding: 10px 20px 10px 20px">
    <%= link_to 'ログアウトする', login_path, class: "btn btn-danger btn-lg btn-block", :confirm => 'ログアウトします。よろしいですか？', :method => :delete %>
  </div>


</div>
