
<h1>画像の新規投稿</h1>
<div class="container-fluid bg-info" style="padding: 20px 10px 15px 20px">
  <%= form_for @img do |f| %>
  <div style="margin: 10px 0px 10px 0px">
    <h4>タイトル</h4>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div style="margin: 10px 0px 10px 0px">
    <h4>画像</h4>
    <%= f.file_field :file, accept: "image/jpeg" %>
  </div>
  <div>
    <%= f.submit :value => "投稿", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>
